{% extends 'base/base.html' %}
{% block body %}
    {% set escravo= escravo or None %}
    {% set erros= erros or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <h1>Formulario De Escravo</h1>
                <form action="{{ salvar_path }}" method="post">
                    {{ csrf_input() }}
                    {{ form_input('Email do dono','email_dono',_logged_user.email,'') }}
                    {{ form_input('Nome','name',escravo.name,erros.name) }}
                    {{ form_input('Idade','age',escravo.age,erros.age) }}
                    {{ form_input('Nascimento','birth',escravo.birth,erros.birth) }}
                    {{ form_input('Preço','price',escravo.price,erros.price) }}
                    {{ form_input('Estatura','estatura',escravo.estatura,erros.estatura) }}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}