{% extends 'base/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Nascimento</th>
                    <th>Preço</th>
                </tr>
                {% for escravo in lista_de_escravos %}
                    <tr>
                        <td>{{ escravo.name }}</td>
                        <td>{{ escravo.birth }}</td>
                        <td>{{ escravo.price }}</td>
                        <td><a href="{{ escravo.editar_path }}" class="btn btn-primary"><i
                                class="glyphicon glyphicon-pencil"></i></a></td>
                        <td>
                            <form action="{{ escravo.deletar_path }}" method="post">
                                {{ csrf_input() }}
                                <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}