<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Fatec</title>
    <style>
         .greenbold{ color: orange; font-weight: bold}

        #h .greenbold {
            color: blue;
            cursor: pointer
        }

        #paragrafo {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="/static/css/exemplo.css"/>
</head>
<body>
<h1 class="greenbold borda" >Olá Mundo</h1>

<div class="greenbold">Div 1
    dsfsdfsdfsdf
    sdfsfd
    sdfsfsdf
</div>
<div id="h"><span class="greenbold">Div 1</span></div>
<p>parágrafo <a href="#footer">Rodapé</a> <a href="http://www.google.com" target="_blank">google</a></p>
<a href="http://uol.com.br"><img src="http://e.i.uol.com.br/futebol/clubes/v4/ficha/santos.gif"/></a>

<p><span >Inicio Parágrafo</span>parágrafo1 <br/> Pulando <span id="paragrafo">linha</span></p>

<form action="">
    <fieldset>
        <legend>Nome</legend>
        Nome: <input type="text" name="nome" placeholder="Digite seu Nome">
        Sobrenome: <input type="text" name="sobrenome" value="Nuccitelli">
    </fieldset>
    <select name="estado">
        <option value="RJ">Rio de Janeiro</option>
        <option value="SP" selected="selected">São Paulo</option>

    </select><br/>
    Sexo: <input type="radio" name="sexo" value="M"/> Masculino
    <input type="radio" name="sexo" value="F"/> Feminino<br/>

    Hobbies: <input type="checkbox" name="hobby" value="bola">Jogar Bola
    <input type="checkbox" name="hobby" value="tv">TV
    <button type="submit">Salvar</button>
</form>
<table border="1px;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Renzo</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Vinicius</td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="footer">Rodapé</div>
</body>
</html>