{% extends 'books/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    {#        <script type="text/javascript" src="/static/livro/js/livro_rest_mock.js"></script>#}
    <script type="text/javascript" src="/static/livro/js/crud.js"></script>

    <script type="text/javascript">
        var livroRest = angular.module('livro_rest', []);

        livroRest.factory('LivroAPI', ['$http', function ($http) {
            return {
                salvar: function (livro) {
                    return $http.post('{{ salvar_path }}', livro);
                },
                listar: function () {
                    return $http.post('{{ listar_path }}');
                },
                editar: function(livro){
                    return $http.post('{{ editar_path }}',livro);
                }
            };

        }]);

        function LivroController($scope, LivroAPI) {
            $scope.formVisivelFlag = false;
            $scope.livro = {title: '', price: ''};
            $scope.livros = [];

            LivroAPI.listar().success(function (livrosDoServidor) {
                $scope.livros = livrosDoServidor;
            });

            $scope.adicionarLivro = function (livro) {
                $scope.livros.push(livro);
            };

            $scope.mostrarForm = function () {
                $scope.formVisivelFlag = !$scope.formVisivelFlag;
            };

        }

    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-app="livro_crud" ng-controller="LivroController">
                <h1>{% trans %}This is a generic home for book_app {% endtrans %}  </h1>
                <button class="btn btn-success" ng-click="mostrarForm()">Criar Livro</button>
                <br/>
                <br/>
                <br/>
                <livroform ng-show="formVisivelFlag" livro-salvo="adicionarLivro(livro)"></livroform>
                <hr/>
                <h2>{% trans %}List of Books{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="width: 100px;"></th>
                        <th>{% trans %}Title{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                        <th>Criação</th>
                        <th>Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in livros" livrolinha livro="book">

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}